# Annoying Windows Files
desktop.ini

# Utilities
Archive.exe
texconv.exe
nvddsinfo.exe
texdiag.exe
HavokBehaviorPostProcess.exe
ffmpeg.exe

settings.ini
SNXT-Config.xml

# Compiled Python
*.pyc
__pycache__/

# Test Folders
test me*/
Unit Test*/

# Log files
*.log

.vs/