# Annoying Windows Files
desktop.ini

# Utilities
Archive.exe
texconv.exe
nvddsinfo.exe
texdiag.exe
HavokBehaviorPostProcess.exe

settings.ini

# Compiled Python
*.pyc
__pycache__/

# Test Folders
test me*/

# Log files
*.log

.vs/