desktop.ini
Archive.exe
texconv.exe
nvddsinfo.exe
texdiag.exe
bsarch.exe

__pycache__/
AdpcmTools/
GraphicsTools/
NvnTools/
test me/
test me_Archived/
test me_Converted/
TestLoadOrder/
TestLoadOrder_Converted/
